body {
    background-color: #7ed957;
    font-family: sans-serif;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
  }
  .logo {
    font-size: 30px;
    display: flex;
    align-items: center;
}

.logo img {
    height: 8vh;
}

.profile-menu {
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: center;
}

.profile-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.profile-dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
}

.profile-dropdown a {
    color: #222;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.profile-dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #45a049;
  }
  #resultsContainer {
    margin-top: 20px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .table th, .table td {
    text-align: left;
    padding: 8px;
  }
  
  .table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .table th {
    background-color: #ddd;
  }
  
  #messageContainer {
    margin-top: 20px;
    color: red;
    text-align: center;
  }
  
  .contact-btn {
    background-color: #2196F3;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .contact-btn:hover {
    background-color: #1976D2;
  }
  
  .contact-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  
  .contact-page-btn {
    background-color: #2196F3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .contact-page-btn:hover {
    background-color: #1976D2;
  }