/* Réinitialisation des styles de base */
body {
  font-family: Arial, sans-serif; 
  margin: 0; 
  padding: 0; 
  background-color: #ccc; 
}
header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  font-size: 20px;
  padding: 10px;
  height: 10vh;
}
header .logo, header .profil {
  display: flex;
  align-items: center;
}
header .logo p {
  margin-left: 10px;
}
.titre {
  text-align: center; 
  padding: 10px; 
  background-color: #ffffff; 
  color: #000000; 
}
h2 {
  text-align: center; 
  padding: 20px; 
  color: #000000; 
}
form {
  width: 300px; 
  margin: 30px auto; 
  padding: 20px; 
  background-color: #ffffff; 
  border: 1px solid #ccc; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  border-radius: 10px; 
  display: flex; 
  flex-direction: column; 
}
label {
  display: block; 
  margin-top: 20px; 
  color: #000000; 
}
input[type="text"],
select {
  width: 100%; 
  padding: 10px; 
  margin-top: 5px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  box-sizing: border-box; 
}
input[type="file"] {
  width: 100%;
  margin-top: 5px;
  box-sizing: border-box;
  border: none;
  padding: 0;
}
.conteneur-soumission {
  display: flex; 
  justify-content: center; 
  margin-top: 20px; 
}
#bouton-valider {
  background-color: green; 
  color: white; 
  border: none; 
  padding: 10px 20px; 
  font-size: 16px; 
  cursor: pointer; 
  border-radius: 5px; 
}
#bouton-valider:hover {
  background-color: darkgreen; 
}
br {
  margin-bottom: 10px; 
}
.ajouter-formulaire-bouton {
  display: block; 
  margin: 20px auto; 
  padding: 10px 20px; 
  background-color: #007bff; 
  color: #ffffff; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  font-size: 16px; 
}
.ajouter-formulaire-bouton:hover {
  background-color: #0056b3; 
}
.supprimer-formulaire-bouton {
  background-color: red; 
  color: white; 
  border: none; 
  padding: 10px 20px; 
  font-size: 16px; 
  cursor: pointer; 
  border-radius: 5px; 
  margin-top: 20px; 
}
.supprimer-formulaire-bouton:hover {
  background-color: darkred; 
}
.form {
  position: relative; 
}
.delete-form-button {
  position: absolute; 
  bottom: -30px; 
  right: 10px; 
}
